html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

img:hover {
    border-color: #555;
}

.ImgContainer img {
    border: 2px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.ImgContainer div {
    text-align: center;
}

th, td, tr {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
