@page
@model BookingTennisCourts.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Witaj w Tennis Club</h1>

<p class="lead">
    Twoim miejscu, gdzie pasja do tenisa łączy się z niezapomnianymi chwilami, emocjami i sportową przygodą! <br />
    Nasz klub to nie tylko miejsce treningów, ale przede wszystkim społeczność, w której rozwija się miłość do tenisa.<br />
</p>

<p class="lead">
    Dysponujemy nowoczesnymi kortami tenisowymi, które spełniają najwyższe standardy.<br />
    Nasze obiekty są dostępne dla wszystkich członków klubu, aby mogli cieszyć się grą o każdej porze dnia.</br>
</p>

<div class="ImgContainer d-flex justify-content-between">
    <img src="/images/Kort1.jpg" alt="Kort1" class="img-fluid">
    <img src="/images/Kort2.jpg" alt="Kort2" class="img-fluid">
    <img src="/images/Kort3.jpg" alt="Kort3" class="img-fluid">
</div>

<h2 class="mt-5">Zarezerwuj swój kort już teraz</h2>


<h3>Wybierz kort i date</h3>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Reservation.CourtId" class="control-label">Court</label>
        <select asp-for="Reservation.CourtId" class="form-control" asp-items="@Model.Courts"></select>
        <span asp-validation-for="Reservation.CourtId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Reservation.Data" class="control-label"></label>
        <input asp-for="Reservation.Data" class="form-control" type="date" />
        <span asp-validation-for="Reservation.Data" class="text-danger"></span>
    </div>
   
    <div class="form-group">
        <input type="submit" value="Sprawdz dostępne godziny" class="btn btn-success" />
    </div>
</form>


